.form_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 600px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
    margin-top: 15px;
}

.sign_up_form {
    width: 100%;
    height: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    
}
  
.sign_up_form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.sign_up_form input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.sign_up_form input[type="text"]:focus {
    outline: none;
    background-color: #fff;
    border: solid 1px #ffc77e;
}

.sign_up_form input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.sign_up_form input[type="password"]:focus {
    outline: none;
    background-color: #fff;
    border: solid 1px #ffc77e;
}
  
.sign_up_form button[type="submit"] {
    background-color: #ffc77e;
    width: 100%;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.form-check-input {
    margin-right: 10px;
    margin-bottom: 13px;
}

.form-check-input:checked {
    accent-color: #ffc77e;
}

p:has(#id_remember_me) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-content: center;
}

  
.sign_up_form button[type="submit"]:hover {
    cursor: pointer;
    background-color: #fcb558;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.sign_up_redirection {
    margin: 0 auto;
    padding: 20px;
}

.sign_up_link {
    cursor: pointer;
    color: #fcb558;
    font-weight: bold;
}

.forgotten_password {
    margin: 0 auto;
    padding-left: 20px;
    padding-bottom: 20px;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 767px) {
    .form_container {
        width: 80%;
    }
  }

@media (max-width: 425px) {
    .form_container {
        width: 90%;
    }
  }

  footer {
    display: none;
  }