{% extends "base/base.html" %}
{% load static %}

{% block title %}
    <title>S'inscrire</title>
{% endblock %}

{% block addstylesheet %}
    <link rel="stylesheet" href="{% static 'signup.css' %}">
{% endblock %}

{% block content %}
    <div class="form_container">
        <h1>S'INSCRIRE</h1>
        <form method="POST" action="{% url 'accounts:signup' %}" class="sign_up_form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">S'INSCRIRE</button>
        </form>
    </div>
{% endblock %}