.notification {
  position: fixed;
  top: 100px;
  height: 60px;
  width: 100%;
  background-color: #4CD37B;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 1s ease;
  z-index: 999;
}

.notification-icon {
  height: 40px;
  width: 40px;
}

.notification span a {
  font-size: 18px;
  font-size: small;
  text-decoration: underline;
}

.notification-icon img {
  width: 100%;
  height: 100%;
}

.notification.show {
  display: flex;
  visibility: visible;
  transform: translateY(0%);
  transition: all 0.2s ease;
  top: 100px;
}

main {
  padding-top: 150px;
}



nav {
  position: fixed;
  background-color: #1A1A1D;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  z-index: 9999;
  padding-left: 20px;
  padding-right: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0px;
  padding: 0;
  width: 100%;
  height: 100%;
  align-items: center;
}

nav ul li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  width: auto;
}

nav ul li {
  width: auto;
}

.nav__hamburger-menu {
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: none;
}


.bar {
  display: block;
  height: 5px;
  margin-top: 5px;
  width: 100%;
  background: #f1f1f1;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.active .bar-1 {
  transform: rotate(45deg) translateY(15px);
}

.active .bar-2 {
  opacity: 0;
}

.active .bar-3 {
  transform: rotate(-45deg) translateY(-15px);
}




.nav__cart-icon {
  height: 50px;
  width: 50px;
  background-color: #fcb558;
  border-radius: 10000px;
}

.nav__cart-icon img {
  height: 80%;
  width: 80%;
  
}

.nav__cart-icon {
  height: 30px;
  width: 30px;
  background-color: #fcb558;
  border-radius: 10000px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__cart-icon img {
  height: 80%;
  width: 80%;

}

.badge {
  position: relative;
  top: -20px;
  left: 50%;
  height: 20px;
  min-width: 20px;
  padding: 0 6px;
  border-radius: 10px;
  background-color: #ff4f4f;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}



.nav__account-container {
  display: flex;
  justify-content: space-between;
}

.nav__account-icon {
  height: 30px;
  width: 30px;
  background-color: #fcb558 ;
  border-radius: 10000px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__account-icon img {
  height: 80%;
  width: 80%;
}

.nav__account-name {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-weight: bold;
}

.nav__account-name div {
  color: #fff;
}

.nav__company-logo {
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translate(-40%);
  height: 120px;
  width: 150px;
  border-radius: 10000px;
  
}

.nav__company-logo img {
  height: 100%;
  width: 100%;
}

.li__search-bar {
  width: 30%;
}

.nav__search-bar { 
  position: relative;
  border-radius: 30px;
  background-color: white;
  padding: 5px 10px;
  padding-right: 0;
  left: -30%;  
  width: 100%;
}

.nav__search-bar input[type="text"] {
  border: none;
  font-size: 16px;
  transition: all 0.3s ease;
  color: #333;
  width: 100%;
  background-color: transparent;
}

.nav__search-bar input[type="text"]:focus {
  outline: none;
}

.search-bar-icon {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 40px 40px 0px;
  background-color: #fcb558;
}

.search-bar-icon img {
  height: 70%;
  width: 70%;
  object-fit: contain;
}

.search-bar-form {
  display: flex;
  height: 20px;
  width: 100%;
  align-items: center;
}

.search-bar-form a {
  padding: 0;
  margin-left: auto;
}

.toggle-menu {
  position: fixed;
  top: 60px;
  height: 80%;
  width: 60%;
  background-color: #fff;
  z-index: 99;
  display: none;
}

.toggle-menu.active {
  display: block;
}

.sub_nav {
  height: 40px;
  width: 100%;
  position: fixed;
  background-color: #1A1A1D;
  color: white;
  font-weight: bold;
  position: fixed;
  top: 60px;
}

.sub_nav ul {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sub_nav ul li {
  position: relative; /* Ajout de cette ligne pour positionner le pseudo-élément par rapport au li */
}

.sub_nav ul li a::before {
  content: "";
  position: absolute; /* Utilisation de position:absolute pour placer le pseudo-élément par rapport à li */
  left: 50%;
  bottom: -1px;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #fcb558;
  transition: width 0.3s;
  border-radius: 50px;
}

.sub_nav ul li a:hover::before {
  width: 80%;
}

@media screen and (max-width: 768px) {

  .notification {
    top: 60px;
  }
  .notification.show {
    top: 60px;
  }

  .nav__hamburger-menu {
    display: block;
  }

  .nav__search-bar {
    display: none;
  }

  .nav__account-container {
    display: none;
  }

  .sub_nav {
    display: none;
  }
}

/* Section cart_dropdown */
.cart_dropdown {
  position: fixed;
  visibility: hidden;
  display: flex;
  transform: translateX(100%);
  top: 100px;
  width: 40%;
  background-color: white;
  z-index: 10000;
  right: 0;
  transition: all 0.3s ease;
  flex-direction: column;
  overflow: auto;
  max-height: 80%;
  
}
.cart_dropdown.show {
  visibility: visible;
  transform: translateX(0%);
  transition: all 0.3s ease;
}

.cart__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 10px;
  position: relative;
}

.cart__title::before,
.cart__title::after {
  content: '';
  position: absolute;
  top: 50%;
  height: 2px;
  border-top: solid 3px black;
  width: calc((100% - 12rem) / 2);
  z-index: -1;
}

.cart__title::before {
  left: 0;
  transform: translateY(-50%);
  border-radius: 30px 0 0 30px;
  margin-left: 40px;
}

.cart__title::after {
  right: 0;
  transform: translateY(-50%);
  border-radius: 0 30px 30px 0;
  margin-right: 40px;
}

.cart__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  width: 90%;
  margin-left: 5%;
}

.cart__product {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.cart__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  flex-basis: 30%;
}

.cart__image {
  max-width: 100%;
  max-height: 100%;
}

.cart__product-details {
  flex-basis: 70%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.cart__product-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0;
  padding-top: 20px;


}

.cart__product-description {
  font-size: 0.9rem;
  margin: 10px 0;
}

.cart__quantity {
  display: flex;
  align-items: center;
}

.cart__total-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}


.cart__product-buttons {
  display: flex;
  align-items: center;
  
}

.cart__button-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffc77e;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.cart__button-remove:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  transform: translateY(2px);
}

.cart_product-buttons-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.cart_product-buttons-icon img {
  width: 60%;
  height: 60%;
}



.cart__summary {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 300px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-left: 5%;
  padding: 20px;
  margin-bottom: 10px;
}

.cart__quantity-container {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
}

.cart__quantity-container div {
  font-weight: bold;
}

.cart__total-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.cart__total-container div {
  font-weight: bold;
}

.cart__summary hr {
  height: 0.5px;
  width: 90%;
  background: #333;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cart__summary label {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}


.order_btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  background-color: #fcb558;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  
}

.order_btn:hover {
  background-color: #fcb558;
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.order_btn:focus {
  outline: none;
}


/* -------- End Section cart_dropdown --------  */

/* -------- Section Footer -------- */
footer {
  width: 100%;
  height: auto;
  background-color: #1A1A1D;
  display: flex;
  flex-direction: column;
  margin-top: 300px;
}
  /* top_footer */

.top_footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  background-color: #333;
}

.top_footer .info {
  display: block;
  width: 20%;
  position: relative;
  transform: translateY(-20%);
}

.top_footer .info .icon {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.top_footer .info img {
  height: 100%;
  width: 100%;
}



.top_footer .info .icone2 {
  height: 120px;
  width: 120px;
  transform: translate(-50%, -10%);
}

.top_footer .info .icone1 {
  transform: translateX(-30px);
}

.top_footer .info .info_description {
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: auto;
}

.top_footer .info .info_description2 {
  transform: translateY(-20px);
}



.top_footer .info .info_description span {
  font-size: 12px;
}





.top_footer .info h3 {
  text-align: center;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.top_footer .info .title2 {
  transform: translateY(-20px);
}
  /* end top_footer */
  /* central_footer */
.central_footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  color: white;
}

.about_us, .navigation, .legals, .information {
  display: block;
  position: relative;
  top: 5px;
  height: 100%;
  width: 20%;
  margin-bottom: 10px;
}

.central_footer h4 {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: large;
}

.central_footer div li {
  margin-bottom: 10px;
}

#social_network {
  display: flex;
  justify-content: left;
  width: 100%;
  height: auto;
  margin: 0;
  
}

#social_network div {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  top: 0;
  margin-right: 10%;
}

#social_network img {
  height: 100%;
  width: 100%;
}

  /* end central_footer */
  /* bottom_footer */
.bottom_footer {
  width: 100%;
  height: auto;
  background-color: #1A1A1D;
  display: flex;
  justify-content: space-around;
}
.newsletter {
  background-color: #1A1A1D;
  padding: 20px;
  text-align: center;
  display: flex;
}

.newsletter label {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

.newsletter input[type="email"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 300px;
  margin-bottom: 10px;
  background-color: white;
}

.newsletter button {
  background-color: #fcb558;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.newsletter button:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.newsletter button:focus {
  outline: none;
}

.success_msg {
  color: #1db652;
  font-weight: bold;
  line-height: 30px;
  width: 200px;
  height: 30px;
  background-color: #333;
  border-radius: 3px;
}


  /* end bottom_footer */





/* -------- End Section Footer -------- */