body {
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-color: #333;
  background-color: #f1f1f1;
}




nav {
  position: fixed;
  background-color: #1A1A1D;
  display: flex;
  align-items: center;
  height: 120px;
  padding: 0 50px;
  width: 100%;
  z-index: 9999;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

nav ul li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}




.nav__cart-icon {
  height: 50px;
  width: 50px;
  background-color: #fcb558;
  border-radius: 10000px;
}

.nav__cart-icon img {
  height: 80%;
  width: 80%;
  
}




.nav__cart-icon {
  height: 50px;
  width: 50px;
  background-color: #fcb558;
  border-radius: 10000px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__cart-icon img {
  height: 80%;
  width: 80%;
}

.badge {
  position: relative;
  top: -20px;
  left: 30px;
  height: 20px;
  min-width: 20px;
  padding: 0 6px;
  border-radius: 10px;
  background-color: #ff4f4f;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}



.nav__account-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.nav__account-icon {
  height: 50px;
  width: 50px;
  background-color: #fcb558 ;
  border-radius: 10000px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__account-icon img {
  height: 80%;
  width: 80%;
}

.nav__account-name {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.nav__account-name div {
  color: #fff;
}

.nav__company-logo {
  margin-top: 80px;
  height: 180px;
  width: 180px;
  position: relative;
  border-radius: 10000px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(20%);
}

.nav__company-logo img {
  height: 100%;
  width: 100%;
}

main {
  padding-top: 150px;
}