{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% block meta %}
    {% endblock %}
    <title>La boutique en ligne</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    
    {% block addstylesheet %}
    {% endblock %}
</head>
<body>
    {% block navbar %}
        <nav>
            <ul>
                <li>
                    <div class="nav__hamburger-menu">
                        <div class="bar bar-1"></div>
                        <div class="bar bar-2"></div>
                        <div class="bar bar-3"></div>
                    </div>
                </li>
                <li>
                    <div class="nav__search-bar">
                        <form action="#" method="get" class="search-bar-form">
                            <input type="text" placeholder="Rechercher...">
                            <a href="#">
                                <div class="search-bar-icon">
                                    <img src="{% static 'ressources/glass_icon.png' %}" alt="">
                                </div>
                            </a>
                        </form>
                    </div>
                </li>
                <li>
                    <a href="{% url 'shop:home_shop' %}">
                    <div class="nav__company-logo" >
                        <img src="{% static 'ressources/company_logo.png' %}" alt="">
                    </div>    
                    </a>
                </li>
                <li>
                    <a href="{% url 'accounts:profile' %}">
                    <div class="nav__account-container">
                        <div class="nav__account-icon">
                            <img src="{% static 'ressources/account_icon.png' %}" alt="icon compte">
                        </div>
                        <div class="nav__account-name">
                            {% if user.is_authenticated %} 
                                <div href="{% url 'accounts:profile' %}">{{user.username}}</div>
                            {% else %}
                                <div href="{% url 'accounts:login' %}">Connexion</div>  
                            {% endif %}
                        </div>
                    </div>
                    </a>
                </li>
                <li>
                    {% if cart %}
                        <a href="{% url 'shop:cart' %}">
                            <div class="nav__cart-icon">
                                <img src="{% static 'ressources/cart_logo.png' %}" alt="Logo" alt="icon du panier">
                            </div>
                            {% if cart.calculate_quantity > 0 %}
                            <span class="badge">{{cart.calculate_quantity}}</span>
                            {% endif %}
                        </a>
                    {% else %}
                        <a href="{% url 'shop:cart' %}" class="logo-link">
                            <div class="nav__cart-icon">
                                <img src="{% static 'ressources/cart_logo.png' %}" alt="Logo" alt="icon du panier">
                            </div>
                            
                        </a>
                    {% endif %}
                </li>
            </ul>  
        </nav>
        <div class="toggle-menu">bonjour</div>
    {% endblock %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% block footer %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>