{% extends "base/base.html" %}
{% load static %}

{% block title %}
    <title>"Cart" | "username"</title>
{% endblock %}

{% block addstylesheet %}
    <link rel="stylesheet" href="{% static 'cart.css' %}">
{% endblock %}

{% block content %}
    <section class="cart">
        <h1 class="cart__title">Panier</h1>
        <div class="cart__container">
            {% for cart_product in cart_products %}
            <div class="cart__product">
                <div class="cart__checkbox-container">
                    <input type="checkbox" name="selected-{{cart_product.id}}" {% if cart_product.selected %} checked {% endif %} data-url="{% url 'shop:update_selected_status' %}" class="checkbox">
                </div>
                <a href="{% url 'shop:product_detail' slug=cart_product.product.slug variant_slug=cart_product.product_variant.variant_slug %}">
                <div class="cart__image-container">
                    <img src="{{cart_product.product_variant.image.url}}" alt="{{cart_product.product.name}}" class="cart__image">
                </div>
                </a>
                <div class="cart__product-details">
                    <a href="{% url 'shop:product_detail' slug=cart_product.product.slug variant_slug=cart_product.product_variant.variant_slug %}">
                    <h2 class="cart__product-title">{{cart_product.cart_product_title}}</h2>
                    </a>
                    <p class="cart__product-description">{{cart_product.product.description|truncatechars:200}}</p>
                    <form method="post" data-url="{% url 'shop:cart' %}" class="update_cart_product_quantity">
                        {% csrf_token %} 
                        <div class="cart__quantity">
                            <label for="quantity" class="cart__quantity-label">Quantity:</label>
                            <label for="product_id"></label>
                            <input type="hidden" name="product_id" value="{{cart_product.id}}">
                            <div class="quantity-input-container">
                                <button id="decrement" type="button" class="decrement"> - </button>
                                <input type="number" name="quantity_{{ cart_product.id }}" value="{{cart_product.quantity}}" min="0" class="cart__quantity-input" id="quantity-input">
                                <button id="increment" type="button" class="increment"> + </button>
                            </div>
                        </div>
                        <p class="cart__total-price">{{cart_product.total_cart_product}} €</p>
                    </form>
                </div>
                <div class="cart__product-buttons">
                    <a href="{% url 'shop:remove_from_cart' slug=cart_product.product.slug variant_slug=cart_product.product_variant.variant_slug %}" class="cart__button-remove">
                        <div class="cart_product-buttons-icon">
                            <img src="{% static 'ressources/trash-icon.png' %}" alt="">
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="cart__summary">
            <div class="cart__quantity-container">
                <div class="cart__quantity-label">Nombre de produits:</div>
                <div class="cart__quantity-number">{{cart.calculate_quantity}}</div>
            </div>
            <div class="cart__total-container">
                <div class="cart__total-label">Total TTC:</div>
                <div class="cart__total-number">{{cart.calculate_total}}</div>
            </div>
        </div>
    </section>
{% endblock %}


{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    <script>var csrfToken = "{{csrf_token}}";</script>

{% endblock %}