{% extends "base/base.html" %}
{% load static %}

{% block title %}
    <title>{{product.name}} - "sitename"</title>
{% endblock %}

{% block addstylesheet %}
    <link rel="stylesheet" href="{% static 'product_detail.css' %}">
{% endblock %}

{% block content %}
<img src="{{product.image.url}}" alt="{{product.name}}">
    <h3>{{product.name}}</h3>
    <h4>{{product.price}}</h4>
    <p>{{product.description}}</p>
    <form method="POST" action="{% url 'shop:add_to_cart' slug=product.slug %}">
        {% csrf_token %}
        <label for="quantity">Quantité:</label>
        <input type="number" name="quantity" value="1" min="1">
        <button type="submit">Ajouter au panier</button>
      </form>
      <a href="{% url 'shop:add_review' slug=product.slug %}">Ajouter un commentaire</a>

{% endblock %}


