{% extends "base/base.html" %}
{% load static %}

{% block title %}
    <title>{{product.name}} - "sitename"</title>
{% endblock %}

{% block addstylesheet %}
    <link rel="stylesheet" href="{% static 'product_detail.css' %}">
{% endblock %}

{% block content %}
    <img src="{{product_variant.image.url}}" alt="{{product.name}}">
    <h3>{{product.name}}</h3>
    <p>{{product.description}}</p>
    <form method="POST" action="{% url 'shop:add_to_cart' slug=product.slug %}">
        {% csrf_token %}
        <label for="quantity">Quantité:</label>
        <input type="number" name="quantity" value="1" min="1">
        <button type="submit">Ajouter au panier</button>
    </form>
    <a href="{% url 'shop:add_review' slug=product.slug %}">Ajouter un commentaire</a>
    <hr>

    <div class="option-container-form">
        <form method="POST" data-url="{% url 'shop:product_detail' slug=product.slug %}" class="update_product_detail_variant">
            {% csrf_token %}
            <div class="option-container-form">
                {% if product_variant.flavor %}
                <div class="option-for-flavors">  
                    <label for="flavor-select">Saveur</label>
                    <select class="form-control" id="flavor-select" name="flavor">
                    {% for flavor in flavors %}
                        <option value="{{ flavor }}">{{ flavor }}</option>
                    {% endfor %}
                    </select> 
                </div>   
                {% endif %}
                {% if product_variant.weight %}
                <div class="option-for-weight">
                    <label for="weight-select">Poids:</label>
                    <div class="weight-buttons">
                        {% for weight in  weights %}
                            <button type="button" class="btn btn-outline-secondary weight-button" data-value="{{ weight }}">{{ weight }}</button>
                        {% endfor %}
                    </div>
                    <input type="hidden" id="selected-weight" name="weight" value="{{ product_variant.weight }}">
                </div>
                {% endif %}

                {% if product_variant.color %}
                <div class="option-for-color">
                    <label for="color-select">Poids:</label>
                    <div class="color-buttons">
                        {% for color in  colors %}
                            <button type="button" class="btn btn-outline-secondary color-button" data-value="{{ color }}">{{ color }}</button>
                        {% endfor %}
                    </div>
                    <input type="hidden" id="selected-color" name="color" value="{{ product_variant.color }}">
                </div>
                {% endif %}

                {% if product_variant.size %}
                <div class="option-for-size">
                    <label for="size-select">Poids:</label>
                    <div class="size-buttons">
                        {% for size in  sizes %}
                            <button type="button" class="btn btn-outline-secondary size-button" data-value="{{ size }}">{{ size }}</button>
                        {% endfor %}
                    </div>
                    <input type="hidden" id="selected-size" name="size" value="{{ product_variant.size }}">
                </div>
                {% endif %}
                            
            </div>
            



        </form>
    </div>


{% endblock %}


{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/product_detail.js' %}"></script>
    <script>var csrfToken = "{{csrf_token}}";</script>

{% endblock %}