{% extends "base/base.html" %}
{% load static %}

{% block title %}
    <title>{{product.name}} - "sitename"</title>
{% endblock %}

{% block addstylesheet %}
    <link rel="stylesheet" href="{% static 'product_detail.css' %}">
{% endblock %}

{% block content %}
    <img src="{{product_variant.image.url}}" alt="{{product.name}}">
    <h3>{{product.name}}</h3>
    <span>{{product_variant.price}} €</span>
    <p>{{product.description}}</p>
    <form method="POST" action="{% url 'shop:add_to_cart' slug=product.slug %}">
        {% csrf_token %}
        <label for="quantity">Quantité:</label>
        <input type="number" name="quantity" value="1" min="1">
        <button type="submit">Ajouter au panier</button>
    </form>
    <a href="{% url 'shop:add_review' slug=product.slug %}">Ajouter un commentaire</a>
    <hr>

    <div class="option-container">
        {% if product_variant.flavor %}
        <div class="option-for-flavors">  
            <label for="flavor-select">Saveur</label>
            <select class="flavor-selector"id="flavor-select" name="flavor">
            {% for flavor in flavors %}
                <option value="{{ flavor }}">{{flavor}}</option>
            {% endfor %}
            </select> 
        </div>   
        {% endif %}
        {% if product_variant.option %}
            <div class="option-for-option">
                <label for="option-select">{{option_name }}</label>
                <div class="option-buttons">
                {% for option in  options %}
                <button type="button" data-value="{{ option }}" class="btn">{{option }}</button>
                {% endfor %}
                </div>
                <input type="hidden" id="selected-option" name="option" value="{{ product_variantoption }}">
            </div>
        {% endif %}
        
                        
        </div>


{% endblock %}


{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/product_detail.js' %}"></script>
    <script>var csrfToken = "{{csrf_token}}";</script>

{% endblock %}