

main {
  padding-top: 70px;
}

.cart {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  font-family: sans-serif;
}

.cart__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.cart__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.cart__product {
  background-color: rgb(246, 238, 224);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.cart__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  flex-basis: 30%;
}

.cart__image {
  max-width: 100%;
  max-height: 100%;
}

.cart__product-details {
  flex-basis: 70%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.cart__product-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0;
}

.cart__product-description {
  font-size: 0.9rem;
  margin: 10px 0;
}

.cart__quantity {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.cart__quantity-label {
  font-size: 1rem;
  font-weight: 500;
  margin-right: 20px;
}



.cart__total-price {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 10px 0;
}

.cart__product-buttons {
  display: flex;
  align-items: center;
}

.cart__button-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f1f1f1;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}

.cart__button-remove:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  transform: translateY(2px);
}

.cart_product-buttons-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.cart_product-buttons-icon img {
  width: 60%;
  height: 60%;
}

.cart__summary {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__quantity-container,
.cart__total-container {
  display: flex;
  flex-direction: column;
}

.cart__quantity-label,
.cart__total-label {
  font-size: 1rem;
  font-weight: 500;
}

.cart__quantity-number,
.cart__total-number {
  font-size: 1.2rem;
  font-weight: 500;
}

.cart__checkbox-container {
  display: flex;  /* ajouter display: flex pour utiliser justify-content */
  justify-content: center; /* centrer horizontalement */
  align-items: center; /* centrer verticalement */
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: solid 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
  border: solid 2px;
  
}

.checkbox:checked {
  background-color: #333;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input-container {
  display: flex;
  height: 30px;
  width: 100px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.cart__quantity-input {
  height: 100%;
  width: 40%;
  text-align: center;
  font-size: 25px;
  background-color: #f1f1f1;
}

#decrement {
  width: 33%;
  font-size: 25px;
  background-color: #fcb558;
  color: #333;
  border-radius: 10px 0 0 10px;
}

#increment {
  width: 33%;
  font-size: 25px;
  background-color: #fcb558;
  color: #333;
  border-radius: 0 10px 10px 0;
  
}

